go 1.21.6

use (
	./hello
	./slices
	./variables
	./userInput
	./conversion
	./handlingtime
	./pointers
	./maths
	./arrays
	./ifelse
	./maps
	./structs
	./switchcase
	./loops
	./functions_methods_defer
	./files
	./webRequest
	./urls
)
